{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="features">
                <div class="alert alert-success" id="addStatusMessage">
                    <p>Feature request successfully updated!</p>
                </div>
                <h1>Edit Feature  Request (ID: {{feature_request.id}})</h1>
                <form class="form-horizontal" id="updateFeatureRequestForm" data-id="{{feature_request.id}}">
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title" required value="{{feature_request.title}}" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" rows="5" placeholder="Description"required >{{feature_request.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority</label>
                        <input class="form-control" type="number" name="priority" min="1" placeholder="Priority" required value="{{feature_request.priority}}"/>
                    </div>
                    <div class="form-group">
                        <label>Target Date</label>
                        <input class="form-control date-picker" id="editTargetDate" type="text" name="target_date" placeholder="Target Date" required value="{{feature_request.target_date}}"/>
                    </div>
                    <div class="form-group">
                       <label>
                           <input class="form-input" type="checkbox" id="showClientInbut"> Add a new client
                       </label>
                    </div>
                    <div class="form-group" id="addClient">
                        <label>Client</label>
                        <input class="form-control" type="text" name="client" placeholder="Client name" required/>
                    </div>
                    <div class="form-group" id="showClient">
                        <label>Client</label>
                        <select class="form-control" name="client_id" required>
                            <option value="">Select Client</option>
                            {% for client in clients %}
                                <option value="{{client.id}}" {% if client.id == feature_request.client_id %} selected{% endif %}>{{client.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                       <label>
                           <input class="form-input" type="checkbox" id="showProductAreaInbut"> Add a new Product Area
                       </label>
                    </div>
                    <div class="form-group" id="addProductArea">
                        <label>Product area</label>
                        <input class="form-control" type="text" name="product_area" placeholder="Product area name" required/>
                    </div>
                    <div class="form-group" id="showProductArea">
                        <label>Product area</label>
                        <select class="form-control" name="product_area_id" required>
                            <option value="">Select product area</option>
                            {% for item in product_areas %}
                                <option value="{{item.id}}" {% if item.id == feature_request.product_area_id %} selected {% endif %}>{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}