{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="features">
                <div class="actions">
                    <a href="/feature-requests/create" class="btn btn-sm btn-success">Add feature</a>
                </div>
                <div class="">
                    <div class="alert alert-danger" id="deleteAlertMesage"> Feature request removed! (ID: <span></span>)</div>
                </div>
                <div class="features-inner" >
                    <table id="feature-req-table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Client</th>
                                <th>Priority</th>
                                <th>Product Area</th>
                                <th>Target Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}